.chart-bar {
    -fx-background-color: #ff3d00;
    /*-fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3)*/
    /*transparent rgba(0,168,355,0.3);*/
    -fx-background-radius: 0;
    -fx-background-position: left center;
}

.chart-title {
    -fx-text-fill: #009624;
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}

.axis-label {
    -fx-text-fill:#69f0ae;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #69f0ae;
}

.chart-plot-background {
    -fx-background-color: #d7ffd9;
}
.chart-vertical-grid-lines {
    -fx-stroke: #60ad5e;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #60ad5e;
}
.chart-alternative-row-fill {
    -fx-fill: #00c853;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}