.jfx-button-recep-vbox-dash{
    -jfx-button-type: FLAT;
    -fx-background-color: #0277bd;
    -fx-text-fill: rgba(255,255,255,0.87);
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.jfx-button-recep-vbox-dash-selected{
    -jfx-button-type: FLAT;
    -fx-background-color: #002f6c;
    -fx-text-fill: rgba(255,255,255,0.87);
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.tab .tab-label
{
    -fx-background-color: #0277bd;
    -fx-font-family: 'Noto Sans JP', sans-serif;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-text-fill: White;
    -fx-pref-width: 210px;
    -fx-pref-height: 40px;
}

.tab:selected
{
    -fx-text-fill: White;
    -fx-font-weight: bold;

}
.tab-header-background {
    -fx-background-color: #0277bd;
}

.text-field-search{
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-prompt-text-fill: #707070;
    -fx-font-size: 15;
    -fx-font-weight: italic;
    -fx-padding: 1,1,1,1;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-radius: 1;
    -fx-border: gone;
    -fx-background-color: white;
    -fx-text-fill: #707070;
}

.button-raised-recep-dash {
    -fx-font-size: 14px;
    -fx-background-color: #0277bd;
    -fx-pref-width: 85;
    -fx-pref-height: 30;
    -fx-text-fill: White;
}