.tab .tab-label
{
    -fx-background-color: #0277bd;
    -fx-font-family: 'Noto Sans JP', sans-serif;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-text-fill: White;
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
}
.tab:selected
{
    -fx-text-fill: White;
    -fx-font-weight: bold;

}
.tab-header-background {
    -fx-background-color: #0277bd;
}
.jfx-date-picker .text-field{
    -jfx-unfocus-color: #424242;
    -fx-prompt-text-fill: #424242;
    -fx-text-fill: #424242;
    -fx-font-size: 14px;
}

.text-area {
    -fx-font-family: 'Noto Sans JP', sans-serif;
    -fx-prompt-text-fill: #424242;
    -fx-text-fill: #424242;
    -fx-font-size: 14px;
}

.combo-box-admin-dash,
.choice-box-admin-dash {
    -fx-prompt-text-fill: #424242;
    -fx-text-fill: #424242;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}