.tab-header-background {
    -fx-background-color:  #00867d;
}
.tab:selected
{
    /*-fx-text-fill: White;*/
    -fx-font-weight: bold;

}

.button-raised-login {
    -fx-font-size: 14px;
    -fx-background-color: #304ffe;
    -fx-pref-width: 85;
    -fx-pref-height: 30;
    -fx-text-fill: White;
}
