# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\USJ - Studies\Information Technology\1st Year\2nd Semester\ICT 129 2.0 Object Oriented Programming\Project - Group\hospital-info-manage-sys\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
